In [1]:
import sys
import xlsxwriter
import pandas as pd
import sys
import psycopg2
import os
from dotenv import load_dotenv
from datetime import date

today = date.today()
load_dotenv()

#configurar la conexion a la base de datos
DB_USERNAME = os.getenv('DB_USERNAME')
DB_DATABASE = os.getenv('DB_DATABASE')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')
DB_HOST=os.getenv('DB_HOST')

cnx = psycopg2.connect(
        user=DB_USERNAME,
        password=DB_PASSWORD,
        host=DB_HOST,
        port=DB_PORT,
        database=DB_DATABASE
    )
cursor=cnx.cursor()

In [4]:
data=pd.read_excel(r'V:\Archivos Seguimiento de Egresados\2025\2016\Bases 2016 teelefonos.xlsx',skiprows=[0])

In [5]:
data['cuenta']

0        52899784
1        67083510
2        70204269
3        73040361
4        73371430
          ...
5802    414034235
5803    414043774
5804    414046074
5805    414058710
5806    414108080
Name: cuenta, Length: 5807, dtype: int64

In [9]:
eg16=pd.read_sql("select * from egresados where act_suvery='1'",cnx)

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [10]:
eg16['cuenta']

0       305227993
1       413094584
2       309148496
3       412087156
4       308187285
          ...
5216     84093532
5217     95540225
5218     97551465
5219     77102159
5220     74260302
Name: cuenta, Length: 5221, dtype: object

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
#configurar la conexion a la base de datos
DB_USERNAME = os.getenv('DB_USERNAME')
DB_DATABASE = os.getenv('DB_DATABASE')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')
DB_HOST=os.getenv('DB_HOST')

cnx = psycopg2.connect(
        user=DB_USERNAME,
        password=DB_PASSWORD,
        host=DB_HOST,
        port=DB_PORT,
        database=DB_DATABASE
    )

cursor=cnx.cursor()

In [ ]:
#SUBIR DATOS DE CONTACTO
# for i in range(len(data)):
#set interval:
strt=0
end=100
for i in range(strt,end):
    cuenta=str(int(data['cuenta'].values[i]))
    Eg=pd.read_sql("select * from egresados where cuenta='"+cuenta+"'",cnx)
    tels_exits=pd.read_sql("select * from telefonos where cuenta = '"+cuenta+"'",cnx )
    mails_exits=pd.read_sql("select * from correos where cuenta = '"+cuenta+"'",cnx )
    print(i,cuenta,Eg['nombre'].values[0],len(Eg))
    print(len(tels_exits),'telefonos')
    #incrustar a la base SQL los telefonos de la base en excel
    #telcasa
    if(len(data['telcasa'].values[i])>8):
        if(data['telcasa'].values[i][:3]=='044'):
            tel=data['telcasa'].values[i][3:]
        else:
            tel=data['telcasa'].values[i]
        if(tel not in tels_exits['telefono'].values):
            query=("insert into telefonos(cuenta, telefono,status,descripcion) values('%s','%s','%s','%s')"%tuple([cuenta,tel,0,'casa']))
            cursor.execute(query)
            print(tel,'insertado ::::TEL INSERTED::::')
    #telcel
    if(len(str(data['telcel'].values[i]))>8):
        print(data['telcel'].values[i])
        if(data['telcel'].values[i][:3]=='044'):
            tel=data['telcel'].values[i][3:]
        else:
            tel=data['telcel'].values[i]
        if(tel not in tels_exits['telefono'].values):
            query=("insert into telefonos(cuenta, telefono,status,descripcion) values('%s','%s','%s','%s')"%tuple([cuenta,tel,0,'celular']))
            cursor.execute(query)
    #correo
    if((len(str(data['nar1_a'].values[i]))>6)&('@' in str(data['nar1_a'].values[i]) )):
        if(data['nar1_a'].values[i][:1]=='-'):
            correo=data['nar1_a'].values[i][1:]
        else:
            correo=data['nar1_a'].values[i]
        if(correo not in mails_exits['correo'].values):
            query=("insert into correos(cuenta, correo,status) values('%s','%s','%s')"%tuple([cuenta,correo,0]))
            cursor.execute(query)
            print(correo,'insertado ::::MAIL INSERTED::::')
cnx.commit()

4001 310127778 DANIEL DE JESUS 1
0 telefonos
5534675855
danielcayetanolaurrabaquio@gmail.com insertado ::::MAIL INSERTED::::
4002 310128469 CAROLINA 1
0 telefonos
5539846594 insertado ::::TEL INSERTED::::
caro_89_allison@hotmail.com insertado ::::MAIL INSERTED::::
4003 310129071 INGRID TONANTZIN 1
0 telefonos
5587971125 insertado ::::TEL INSERTED::::
ingridnb2b@gmail.com insertado ::::MAIL INSERTED::::
4004 310131418 CLAUDIA ALEJANDRA 1
0 telefonos
5512498986
clausrubra1094@hotmail.com insertado ::::MAIL INSERTED::::
4005 310132075 DIEGO 1
0 telefonos
5525129577 insertado ::::TEL INSERTED::::
diegotg93@gmail.com insertado ::::MAIL INSERTED::::
4006 310132879 CARMEN YUDIET 1
0 telefonos
yudiet93@hotmail.com insertado ::::MAIL INSERTED::::
4007 310134213 ALBERTO 1
0 telefonos
5511350197 insertado ::::TEL INSERTED::::
larenasrr.ii@gmail.com insertado ::::MAIL INSERTED::::
4008 310136248 NADIA 1
0 telefonos
nadiacaro_2008rosa@hotmail.com insertado ::::MAIL INSERTED::::
4009 310138589 DIANA PAMELA 1
0 telefonos
5546992310 insertado ::::TEL INSERTED::::
dianp_94@hotmail.com insertado ::::MAIL INSERTED::::
4010 310138682 JOSE RODOLFO 1
0 telefonos
5529442288 insertado ::::TEL INSERTED::::
rodobau@gmail.com insertado ::::MAIL INSERTED::::
4011 310139940 RAI ALEJANDRO 1
0 telefonos
5527017990 insertado ::::TEL INSERTED::::
rai.peraltag@gmail.com insertado ::::MAIL INSERTED::::
4012 310140043 CRISTINA ITZEL 1
0 telefonos
5558432147 insertado ::::TEL INSERTED::::
cristina_itzel@comunidad.unam.mx insertado ::::MAIL INSERTED::::
4013 310140050 RUBEN GAMALIEL 1
0 telefonos
5558480844 insertado ::::TEL INSERTED::::
5536725948
rbnortiz.506@gmail.com pp insertado ::::MAIL INSERTED::::
4014 310140476 AURORA 1
0 telefonos
auroranotebook@comunidad.unam.mx  insertado ::::MAIL INSERTED::::
4015 310141459 VERONICA ALINA 1
0 telefonos
espgua94veralina@gmail.com insertado ::::MAIL INSERTED::::
4016 310142803 BRENDA ADRIANA 1
0 telefonos
5553640420 insertado ::::TEL INSERTED::::
bglez.act@gmail.com insertado ::::MAIL INSERTED::::
4017 310142913 ANA KAREN 1
0 telefonos
5532762553
anak.cruzc@gmail.com insertado ::::MAIL INSERTED::::
4018 310143154 ALINA 1
0 telefonos
5525055504 insertado ::::TEL INSERTED::::
alina20494@gmail.com insertado ::::MAIL INSERTED::::
4019 310143329 DIANA ITZEL 1
0 telefonos
5537731094 insertado ::::TEL INSERTED::::
siikery@hotmail.com insertado ::::MAIL INSERTED::::
4020 310143563 BELEN 1
0 telefonos
5556571982 insertado ::::TEL INSERTED::::
5544686532
ibell.arango@hotmail.com insertado ::::MAIL INSERTED::::
4021 310143886 ESAU 1
0 telefonos
5566597534 insertado ::::TEL INSERTED::::
esaufriasjimenez@gmail.com insertado ::::MAIL INSERTED::::
4022 310145608 JOSUE 1
0 telefonos
josue_pingu@ciencias.unam.mx insertado ::::MAIL INSERTED::::
4023 310146636 ILSE GUADALUPE 1
0 telefonos
5530840993 insertado ::::TEL INSERTED::::
ilse.peralta.pasindo94@gmail.com insertado ::::MAIL INSERTED::::
4024 310147059 ROCIO ALEJANDRA 1
0 telefonos
5525961600 insertado ::::TEL INSERTED::::
5564294746
alejandra_cullen@comunidad.unam.mx insertado ::::MAIL INSERTED::::
4025 310147107 ROGELIO 1
0 telefonos
5530800758 insertado ::::TEL INSERTED::::
ronin_0310@hotmail.com insertado ::::MAIL INSERTED::::
4026 310147406 ADRIANA 1
0 telefonos
5532243994 insertado ::::TEL INSERTED::::
adryrdz2@ciencias.unam.mx  insertado ::::MAIL INSERTED::::
4027 310147901 PERLA GUADALUPE 1
0 telefonos
5513852841 insertado ::::TEL INSERTED::::
a-l_rep1994@hotmail.com insertado ::::MAIL INSERTED::::
4028 310148290 YESSENIA MARCESY 1
0 telefonos
5513915445 insertado ::::TEL INSERTED::::
yesseniamgs@gmail.com insertado ::::MAIL INSERTED::::
4029 310148582 ALEJANDRA GUADALUPE 1
0 telefonos
5536292529 insertado ::::TEL INSERTED::::
tigre.wisk.salem@hotmail.es insertado ::::MAIL INSERTED::::
4030 310148812 MARIANA 1
0 telefonos
5557971207 insertado ::::TEL INSERTED::::
marianagaia7@gmail.com insertado ::::MAIL INSERTED::::
4031 310149493 OIDAY 1
0 telefonos
5557990290 insertado ::::TEL INSERTED::::
2226080749
oiday1022@gmail.com  insertado ::::MAIL INSERTED::::
4032 310149534 MAYRA CAROLINA 1
0 telefonos
5610550749
mayracarolina@comunidad.unam.mx insertado ::::MAIL INSERTED::::
4033 310149606 ANA PAOLA 1
0 telefonos
57 34 44 30 insertado ::::TEL INSERTED::::
annappdlf@gmail.com  insertado ::::MAIL INSERTED::::
4034 310150259 JESUS ALBERTO 1
0 telefonos
5520718029 insertado ::::TEL INSERTED::::
jesus_lmondragon@hotmail.com  insertado ::::MAIL INSERTED::::
4035 310151139 CLARISA ESTEFANIA 1
0 telefonos
5567678402 insertado ::::TEL INSERTED::::
biology.supremacy25@gmail.com insertado ::::MAIL INSERTED::::
4036 310151263 LOURDES FERNANDA 1
0 telefonos
feemattz@outlook.es insertado ::::MAIL INSERTED::::
4037 310152624 ALAN IÑAKI 1
0 telefonos
5532395561 insertado ::::TEL INSERTED::::
shakugan@comunidad.unam.mx insertado ::::MAIL INSERTED::::
4038 310152909 CLAUDIA 1
0 telefonos
5521612241 insertado ::::TEL INSERTED::::
5513598027
clauu13vazz@gmail.com  insertado ::::MAIL INSERTED::::
4039 310153346 DANIELA 1
0 telefonos
5529499020 insertado ::::TEL INSERTED::::
daniiviidalsaavedra@gmail.com insertado ::::MAIL INSERTED::::
4040 310153580 MARISOL ALICIA 1
0 telefonos
5559394559 insertado ::::TEL INSERTED::::
solalizur@hotmail.com insertado ::::MAIL INSERTED::::
4041 310153944 YOZIMAR 1
0 telefonos
5519870670 insertado ::::TEL INSERTED::::
pyozimar@gmail.com insertado ::::MAIL INSERTED::::
4042 310155467 ROSA LIZBETH 1
0 telefonos
5559362627 insertado ::::TEL INSERTED::::
5531429368
lizy160212@gmail.com insertado ::::MAIL INSERTED::::
4043 310156615 MIGUEL ANGEL 1
0 telefonos
5540856023 insertado ::::TEL INSERTED::::
mikevromero4@hotmail.com insertado ::::MAIL INSERTED::::
4044 310160283 ALEJANDRO 1
0 telefonos
5536553492 insertado ::::TEL INSERTED::::
a.vargas.martinez93@gmail.com insertado ::::MAIL INSERTED::::
4045 310161015 GAEL DANIEL 1
0 telefonos
9981513141 insertado ::::TEL INSERTED::::
rodriguez_gonzalez_gael@outlook.com insertado ::::MAIL INSERTED::::
4046 310161644 PAOLA VANESA 1
0 telefonos
5569766850 insertado ::::TEL INSERTED::::
vanesarori@gmail.com insertado ::::MAIL INSERTED::::
4047 310163545 MAURICIO 1
0 telefonos
5586142063 insertado ::::TEL INSERTED::::
msf_c70@hotmail.com insertado ::::MAIL INSERTED::::
4048 310167024 MAIRA 1
0 telefonos
5535631509 insertado ::::TEL INSERTED::::
MAIRA-714@HOTMAIL.COM insertado ::::MAIL INSERTED::::
4049 310167691 DULCE ANAHI 1
0 telefonos
5584792615 insertado ::::TEL INSERTED::::
salazardulce917@gmail.com insertado ::::MAIL INSERTED::::
4050 310168492 ALEXANDER 1
0 telefonos
jilmeu@hotmail.com insertado ::::MAIL INSERTED::::
4051 310169994 JULIO CESAR 1
0 telefonos
5523556555 insertado ::::TEL INSERTED::::
julio.olvera@comunidad.unam.mx insertado ::::MAIL INSERTED::::
4052 310170152 CAROLINA 1
0 telefonos
karo_093@hotmail.com insertado ::::MAIL INSERTED::::
4053 310170853 ALEXA 1
0 telefonos
5556883101 insertado ::::TEL INSERTED::::
5548491704
alexa.hero@yahoo.com insertado ::::MAIL INSERTED::::
4054 310173706 DIANA LETICIA 1
0 telefonos
5539157532 insertado ::::TEL INSERTED::::
miranda.2.dm@gmail.com insertado ::::MAIL INSERTED::::
4055 310173885 MARIA JOSE 1
0 telefonos
5528658894 insertado ::::TEL INSERTED::::
majomonteverde93@gmail.com insertado ::::MAIL INSERTED::::
4056 310173940 IVANA LILIA 1
0 telefonos
ivanamb@ciencias.unam.mx insertado ::::MAIL INSERTED::::
4057 310174181 JONATHAN ISRAEL 1
0 telefonos
5543833048 insertado ::::TEL INSERTED::::
jimereyes25@yahoo.com insertado ::::MAIL INSERTED::::
4058 310175889 LUCIA DEL CARMEN 1
0 telefonos
5529107925 insertado ::::TEL INSERTED::::
lucia94cl@gmail.com  insertado ::::MAIL INSERTED::::
4059 310177931 ANTONIO DE JESUS 1
0 telefonos
5576859478 insertado ::::TEL INSERTED::::
antonio.rg2dm@gmail.com insertado ::::MAIL INSERTED::::
4060 310178378 GABRIELA 1
0 telefonos
5534326310 insertado ::::TEL INSERTED::::
gaby_6894@hotmail.com  insertado ::::MAIL INSERTED::::
4061 310178543 LEZLY ITZEL 1
0 telefonos
5551959437 insertado ::::TEL INSERTED::::
lezly.duran@hotmail.com  insertado ::::MAIL INSERTED::::
4062 310178835 MARIA DE LA LUZ 1
0 telefonos
5557962385 insertado ::::TEL INSERTED::::
5540811701
amalu94@hotmail.com insertado ::::MAIL INSERTED::::
4063 310179021 FATIMA 1
0 telefonos
5557661020 insertado ::::TEL INSERTED::::
5535565881
fgs1403@gmail.com  insertado ::::MAIL INSERTED::::
4064 310179454 URIEL 1
0 telefonos
5530559966 insertado ::::TEL INSERTED::::
sky.guty94@gmail.com  insertado ::::MAIL INSERTED::::
4065 310179870 ISABEL CRISTINA 1
0 telefonos
5554661714 insertado ::::TEL INSERTED::::
isa.cris.gg@hotmail.com insertado ::::MAIL INSERTED::::
4066 310180832 KARLA PATRICIA 1
0 telefonos
paty_hermor@hotmail.com insertado ::::MAIL INSERTED::::
4067 310180870 NANCY MONTSERRAT 1
0 telefonos
5539363929 insertado ::::TEL INSERTED::::
nanzs3094@gmail.com insertado ::::MAIL INSERTED::::
4068 310181011 MIRIAM 1
0 telefonos
5525968555 insertado ::::TEL INSERTED::::
5530588279
vs.mriam@gmail.com insertado ::::MAIL INSERTED::::
4069 310184256 PAOLA 1
0 telefonos
5556506207 insertado ::::TEL INSERTED::::
zzzzz.dormilon@gmail.com insertado ::::MAIL INSERTED::::
4070 310185875 KARLA YIBELE 1
0 telefonos
5549286898 insertado ::::TEL INSERTED::::
yibele@gmail.com  insertado ::::MAIL INSERTED::::
4071 310186322 GUADALUPE 1
0 telefonos
5535307076 insertado ::::TEL INSERTED::::
4072 310187422 LUIS RODRIGO 1
0 telefonos
5588122109 insertado ::::TEL INSERTED::::
lurodrimtza10@ciencias.unam.mx insertado ::::MAIL INSERTED::::
4073 310188632 JENNY SHANTAL 1
0 telefonos
5534312615 insertado ::::TEL INSERTED::::
jennpl18@hotmail.com insertado ::::MAIL INSERTED::::
4074 310188649 ANA LAURA 1
0 telefonos
5573328033
analaurapenagos@gmail.com insertado ::::MAIL INSERTED::::
4075 310189598 LUISA FERNANDA 1
0 telefonos
luisa_guizarhdz@hotmail.com insertado ::::MAIL INSERTED::::
4076 310189608 PRISCILA ODETTE 1
0 telefonos
5526535474 insertado ::::TEL INSERTED::::
odettetg94@hotmail.com insertado ::::MAIL INSERTED::::
4077 310189976 BELEN ABIGAIL 1
0 telefonos
5559916297 insertado ::::TEL INSERTED::::
abigail.b_gomez@hotmail.com insertado ::::MAIL INSERTED::::
4078 310191698 MARIA JOSE 1
0 telefonos
5521028255 insertado ::::TEL INSERTED::::
marijocp19@gmail.com insertado ::::MAIL INSERTED::::
4079 310191935 MAURICIO 1
0 telefonos
5558630282 insertado ::::TEL INSERTED::::
5521046468
maucastillomoreno@gmail.com insertado ::::MAIL INSERTED::::
4080 310193496 LILIANA 1
0 telefonos
5526080625 insertado ::::TEL INSERTED::::
5545569480
lily_gmez@hotmail.com insertado ::::MAIL INSERTED::::
4081 310193788 MARIO GIBRAN 1
0 telefonos
5515350661 insertado ::::TEL INSERTED::::
gibran.garvi94@gmail.com insertado ::::MAIL INSERTED::::
4082 310194314 MARIEL 1
0 telefonos
5536728305 insertado ::::TEL INSERTED::::
marietahe87@gmail.com insertado ::::MAIL INSERTED::::
4083 310194826 GABRIELA 1
0 telefonos
5567034507 insertado ::::TEL INSERTED::::
lopezbazangab@gmail.com insertado ::::MAIL INSERTED::::
4084 310195500 ARACELI 1
0 telefonos
zunnary_ar@hotmail.com insertado ::::MAIL INSERTED::::
4085 310196095 ARTURO EDUARDO 1
0 telefonos
5544648240 insertado ::::TEL INSERTED::::
edu.artu1607@gmail.com insertado ::::MAIL INSERTED::::
4086 310196480 MONICA 1
0 telefonos
5539536101 insertado ::::TEL INSERTED::::
malpica_flores@comunidad.unam.mx insertado ::::MAIL INSERTED::::
4087 310196882 MARIA DEL CARMEN 1
0 telefonos
5535085607
carmenmagdaleno1607@gmail.com insertado ::::MAIL INSERTED::::
4088 310198910 JESSICA KARINA 1
0 telefonos
5522473156 insertado ::::TEL INSERTED::::
karina.lara93@gmail.com insertado ::::MAIL INSERTED::::
4089 310200639 SAUL ALEJANDRO 1
0 telefonos
5525041855 insertado ::::TEL INSERTED::::
saul.juz@gmail.com insertado ::::MAIL INSERTED::::
4090 310200828 EDGAR 1
0 telefonos
5511331261 insertado ::::TEL INSERTED::::
yo_gared15@comunidad.unam.mx insertado ::::MAIL INSERTED::::
4091 310201045 ANA LUISA 1
0 telefonos
5548152053
luisaana1993@hotmail.com insertado ::::MAIL INSERTED::::
4092 310201258 VERONICA ANDREA 1
0 telefonos
5524326642 insertado ::::TEL INSERTED::::
vero.morahdz017@gmail.com insertado ::::MAIL INSERTED::::
4093 310202846 KARLA GUADALUPE 1
0 telefonos
5580249612 insertado ::::TEL INSERTED::::
MR.LEKADA@GMAIL.COM insertado ::::MAIL INSERTED::::
4094 310203238 ALAN MAURICIO 1
0 telefonos
5556436802 insertado ::::TEL INSERTED::::
5611771386
olaguesiete@gmail.com  insertado ::::MAIL INSERTED::::
4095 310203283 ALEJANDRA 1
0 telefonos
alelimon1107@gmail.com insertado ::::MAIL INSERTED::::
4096 310204376 VERONICA 1
0 telefonos
5588832165 insertado ::::TEL INSERTED::::
5536360552
veronica-rc.8@hotmail.com  insertado ::::MAIL INSERTED::::
4097 310204895 ITZEL 1
0 telefonos
5541943322 insertado ::::TEL INSERTED::::
duv_cach@hotmail.com insertado ::::MAIL INSERTED::::
4098 310205469 MONICA PILAR 1
0 telefonos
5557532028 insertado ::::TEL INSERTED::::
5537332434
monicapgf@hotmail.com insertado ::::MAIL INSERTED::::
4099 310207119 MARIA FERNANDA 1
0 telefonos
5555611126 insertado ::::TEL INSERTED::::
5555655011
ma.fernandasilva12@gmail.com  insertado ::::MAIL INSERTED::::
4100 310207315 SARA DANIELA 1
0 telefonos
5537132841 insertado ::::TEL INSERTED::::
danielastmo@hotmail.com insertado ::::MAIL INSERTED::::
4101 310208910 ANDRES ALAN 1
0 telefonos
5543447286
andres7ml@gmail.com insertado ::::MAIL INSERTED::::
4102 310210230 LILIANA 1
0 telefonos
5525264607 insertado ::::TEL INSERTED::::
lilianarhpozos@gmail.com insertado ::::MAIL INSERTED::::
4103 310210371 BLANCA DANIELA 1
0 telefonos
daniela.b16@comunidad.unam.mx insertado ::::MAIL INSERTED::::
4104 310210467 ALEJANDRA 1
0 telefonos
4776415276 insertado ::::TEL INSERTED::::
alelerdo.acosta@gmail.com insertado ::::MAIL INSERTED::::
4105 310210670 JESUS 1
0 telefonos
5540659900 insertado ::::TEL INSERTED::::
jesusriveron@outlook.com insertado ::::MAIL INSERTED::::
4106 310211794 OSCAR DAVID 1
0 telefonos
5557626286 insertado ::::TEL INSERTED::::
7772400526
viv_o94@hotmail.com  insertado ::::MAIL INSERTED::::
4107 310212258 YESICA 1
0 telefonos
5556564527 insertado ::::TEL INSERTED::::
yesmr03@gmail.com insertado ::::MAIL INSERTED::::
4108 310213004 JOCELYN ANAID 1
0 telefonos
5580456599 insertado ::::TEL INSERTED::::
anaid_jocelyn@hotmail.com insertado ::::MAIL INSERTED::::
4109 310213200 CARLOS 1
0 telefonos
5539560739 insertado ::::TEL INSERTED::::
carlosmnrqz94@gmail.com  insertado ::::MAIL INSERTED::::
4110 310214984 SAMARA 1
0 telefonos
5521984895 insertado ::::TEL INSERTED::::
samy.sb194@hotmail.com  insertado ::::MAIL INSERTED::::
4111 310215307 VANESSA VIANEY 1
0 telefonos
5511195866 insertado ::::TEL INSERTED::::
vianessamorastelo@gmail.com insertado ::::MAIL INSERTED::::
4112 310216438 ELIZABET 1
0 telefonos
5558490206 insertado ::::TEL INSERTED::::
5531471839
elizabet.rodriguez.c@gmail.com insertado ::::MAIL INSERTED::::
4113 310217284 PABLO EMILIO 1
0 telefonos
 5518397797 insertado ::::TEL INSERTED::::
pabloemilio@live.com.mx insertado ::::MAIL INSERTED::::
4114 310217538 CRISTIAN JOSE 1
0 telefonos
5555222956 insertado ::::TEL INSERTED::::
5510819800
cristian_jose@comunidad.unam.mx insertado ::::MAIL INSERTED::::
4115 310218054 ARLETTE GUILLERMINA 1
0 telefonos
5583652762 insertado ::::TEL INSERTED::::
arlette15_music@hotmail.com insertado ::::MAIL INSERTED::::
4116 310218432 ARIANA LIZBETH 1
0 telefonos
5557401721 insertado ::::TEL INSERTED::::
5565143841
lizbethshi10@gmail.com insertado ::::MAIL INSERTED::::
4117 310219044 LUIS ANGEL 1
0 telefonos
luis.pantoja.ffyl@gmail.com insertado ::::MAIL INSERTED::::
4118 310220068 FERNANDO 1
0 telefonos
5558123843 insertado ::::TEL INSERTED::::
5587248799
Ferdinand_sockre@comunidad.unam.mx insertado ::::MAIL INSERTED::::
4119 310220745 JOSE PABLO 1
0 telefonos
551187-8691
josepablo_medero@hotmail.com insertado ::::MAIL INSERTED::::
4120 310221302 VALERIA 1
0 telefonos
5555666860 insertado ::::TEL INSERTED::::
5511387958
pazv1029@gmail.com insertado ::::MAIL INSERTED::::
4121 310223258 LESLIE VIVIANA 1
0 telefonos
4554454705 insertado ::::TEL INSERTED::::
lezliie.az@gmail.com insertado ::::MAIL INSERTED::::
4122 310224451 DANIEL AUGUSTO 1
0 telefonos
5557403766 insertado ::::TEL INSERTED::::
5531185142
augustosanchezdaniel@gmail.com insertado ::::MAIL INSERTED::::
4123 310225582 DANIELA MICHELINE 1
0 telefonos
5555716398 insertado ::::TEL INSERTED::::
5580369235
dan.zamca12@gmail.com insertado ::::MAIL INSERTED::::
4124 310226125 BRENDA ITZEL 1
0 telefonos
5537018061 insertado ::::TEL INSERTED::::
itzel_girldance@hotmail.com insertado ::::MAIL INSERTED::::
4125 310226448 IVONE BERENICE 1
0 telefonos
5559452253 insertado ::::TEL INSERTED::::
ivonerdz1@hotmail.com insertado ::::MAIL INSERTED::::
4126 310226620 ATZALAN 1
0 telefonos
5555874784 insertado ::::TEL INSERTED::::
5551733507
atzalanrodriguez@gmail.com insertado ::::MAIL INSERTED::::
4127 310226864 MIRIAM 1
0 telefonos
5561468035 insertado ::::TEL INSERTED::::
miriamsumalla@gmail.com  insertado ::::MAIL INSERTED::::
4128 310227328 MARIO JORDAN 1
0 telefonos
5533162413 insertado ::::TEL INSERTED::::
mariotcr@hotmail.com insertado ::::MAIL INSERTED::::
4129 310227768 ANA KAREN 1
0 telefonos
5516771602 insertado ::::TEL INSERTED::::
karen.somak@gmail.com insertado ::::MAIL INSERTED::::
4130 310227964 ARELY 1
0 telefonos
5532952378 insertado ::::TEL INSERTED::::
are.toville@gmail.com insertado ::::MAIL INSERTED::::
4131 310228301 BELEN BRENDA 1
0 telefonos
5553203652
brennd0710@gmail.com insertado ::::MAIL INSERTED::::
4132 310230016 KENIA GABRIELA 1
0 telefonos
5534126187 insertado ::::TEL INSERTED::::
ggkeen@gmail.com insertado ::::MAIL INSERTED::::
4133 310230164 ELY MICHELLE 1
0 telefonos
5529729460 insertado ::::TEL INSERTED::::
e.michellehernandez@hotmail.com insertado ::::MAIL INSERTED::::
4134 310231776 ALISON 1
1 telefonos
4135 310233062 ITZAYANA 1
0 telefonos
015519311584 insertado ::::TEL INSERTED::::
itza@ciencias.unam.mx insertado ::::MAIL INSERTED::::
4136 310233732 EDGAR ARTURO 1
0 telefonos
5521070580 insertado ::::TEL INSERTED::::
arturounam2010@gmail.com  insertado ::::MAIL INSERTED::::
4137 310234148 DAMIAN 1
0 telefonos
5575393729 insertado ::::TEL INSERTED::::
pataponking@hotmail.com insertado ::::MAIL INSERTED::::
4138 310234760 CLAUDIA VALERIA 1
0 telefonos
5554851749 insertado ::::TEL INSERTED::::
5545304309
valeaguerrer@hotmail.com  insertado ::::MAIL INSERTED::::
4139 310235145 MISAEL 1
0 telefonos
5543888223 insertado ::::TEL INSERTED::::
migare94@gmail.com insertado ::::MAIL INSERTED::::
4140 310235602 BRENDA XIMENA 1
0 telefonos
brendaxim2g@hotmail.com insertado ::::MAIL INSERTED::::
4141 310236685 SANDRA 1
0 telefonos
5556449551 insertado ::::TEL INSERTED::::
sandra.h949@gmail.com insertado ::::MAIL INSERTED::::
4142 310236788 ANGEL 1
0 telefonos
5582326880 insertado ::::TEL INSERTED::::
lt93angel@gmail.com insertado ::::MAIL INSERTED::::
4143 310238177 MARIA FERNANDA 1
0 telefonos
5556655616 insertado ::::TEL INSERTED::::
5531474687
mafernandamarvi@gmail.com  insertado ::::MAIL INSERTED::::
4144 310239473 CLAUDIA 1
0 telefonos
5529056415 insertado ::::TEL INSERTED::::
5527090857
claudia.bape@hotmail.com  insertado ::::MAIL INSERTED::::
4145 310239741 ANA LAURA 1
0 telefonos
analauracastillo18@gmail.com insertado ::::MAIL INSERTED::::
4146 310240181 AMEYALLI 1
0 telefonos
5523202221 insertado ::::TEL INSERTED::::
ameyallicpr@gmail.com insertado ::::MAIL INSERTED::::
4147 310241023 KAREN FERNANDA 1
0 telefonos
5557788725 insertado ::::TEL INSERTED::::
ferofersferre@hotmail.com insertado ::::MAIL INSERTED::::
4148 310241748 YENIFER 1
0 telefonos
5537329043 insertado ::::TEL INSERTED::::
fostter29@gmail.com insertado ::::MAIL INSERTED::::
4149 310246523 SANDRA 1
0 telefonos
05513906373 insertado ::::TEL INSERTED::::
lazaroperez.sandra@gmail.com insertado ::::MAIL INSERTED::::
4150 310247960 DALIA 1
0 telefonos
5518446293 insertado ::::TEL INSERTED::::

In [98]:
#MARCAR LA FECHA DE LA ENCUESTA ANTERIOR
# for i in range(len(data)):
#set interval:
strt=2501
end=len(data)
for i in range(strt,end):
    cuenta=str(int(data['cuenta'].values[i]))
    Eg=pd.read_sql("select * from egresados where cuenta='"+cuenta+"'",cnx)
    print(i,cuenta,Eg['nombre'].values[0],len(Eg))
    if(len(Eg)>=1):
        query="update egresados set actualized='"+str(data['fec_capt'].values[i])+"' where cuenta='"+cuenta+"'"
        print(query)
        cursor.execute(query)

cnx.commit()

2501 308615058 RODRIGO 1
update egresados set actualized='2017-03-27T00:00:00.000000000' where cuenta='308615058'
2502 308615137 ANDRES 1
update egresados set actualized='2019-03-11T00:00:00.000000000' where cuenta='308615137'
2503 308618509 LILIA 1
update egresados set actualized='2017-02-02T00:00:00.000000000' where cuenta='308618509'
2504 308619197 DANIELA 1
update egresados set actualized='2020-03-19T00:00:00.000000000' where cuenta='308619197'
2505 308622256 ROSA LAURA 1
update egresados set actualized='2019-04-02T00:00:00.000000000' where cuenta='308622256'
2506 308624810 MARIANA 1
update egresados set actualized='2019-06-23T00:00:00.000000000' where cuenta='308624810'
2507 308625707 JOSE PABLO 1
update egresados set actualized='2019-06-05T00:00:00.000000000' where cuenta='308625707'
2508 308626436 KARINA 1
update egresados set actualized='2020-11-13T00:00:00.000000000' where cuenta='308626436'
2509 308633445 CARLOS EMILIO 1
update egresados set actualized='2019-06-05T00:00:00.000000000' where cuenta='308633445'
2510 308635793 SAMANTHA GUADALUPE 1
update egresados set actualized='2019-03-20T00:00:00.000000000' where cuenta='308635793'
2511 308638299 FATIMA PAULINA 1
update egresados set actualized='2019-07-31T00:00:00.000000000' where cuenta='308638299'
2512 308639265 ULISES 1
update egresados set actualized='2020-11-10T00:00:00.000000000' where cuenta='308639265'
2513 308642063 CARIBDE GRECIA 1
update egresados set actualized='2016-03-30T00:00:00.000000000' where cuenta='308642063'
2514 308642300 DAVID 1
update egresados set actualized='2019-04-01T00:00:00.000000000' where cuenta='308642300'
2515 308642496 ADRIANA EUGENIA 1
update egresados set actualized='2019-02-11T00:00:00.000000000' where cuenta='308642496'
2516 308643819 BRENDA ATENEA 1
update egresados set actualized='2019-05-07T00:00:00.000000000' where cuenta='308643819'
2517 308644081 ANA PAULINA 1
update egresados set actualized='2019-06-21T00:00:00.000000000' where cuenta='308644081'
2518 308644809 GLORIA 1
update egresados set actualized='2019-04-03T00:00:00.000000000' where cuenta='308644809'
2519 308647037 SAHAILY 1
update egresados set actualized='2019-07-24T00:00:00.000000000' where cuenta='308647037'
2520 308654479 MARIANA DANIELA 1
update egresados set actualized='2020-11-09T00:00:00.000000000' where cuenta='308654479'
2521 308660357 JUAN CARLOS 1
update egresados set actualized='2019-06-06T00:00:00.000000000' where cuenta='308660357'
2522 308674365 EDWIN GAEL 1
update egresados set actualized='2019-06-05T00:00:00.000000000' where cuenta='308674365'
2523 308684210 GABRIELA 1
update egresados set actualized='2020-12-01T00:00:00.000000000' where cuenta='308684210'
2524 308695186 EDUARDO 1
update egresados set actualized='2019-08-23T00:00:00.000000000' where cuenta='308695186'
2525 308695337 FLOR ERENDIRA 1
update egresados set actualized='2020-01-08T00:00:00.000000000' where cuenta='308695337'
2526 308696279 DIANA REGINA 1
update egresados set actualized='2019-11-15T00:00:00.000000000' where cuenta='308696279'
2527 308697362 FRANCISCO DAVID 1
update egresados set actualized='2018-12-22T00:00:00.000000000' where cuenta='308697362'
2528 308709029 EDUARDO IVAN 1
update egresados set actualized='2017-07-25T00:00:00.000000000' where cuenta='308709029'
2529 308712669 JOSE GIBRAN 1
update egresados set actualized='2019-09-04T00:00:00.000000000' where cuenta='308712669'
2530 308721328 LAURA CAROLYNA 1
update egresados set actualized='2020-02-27T00:00:00.000000000' where cuenta='308721328'
2531 308726017 RODRIGO 1
update egresados set actualized='2020-10-15T00:00:00.000000000' where cuenta='308726017'
2532 308726141 JULIO CARLOS 1
update egresados set actualized='2019-07-31T00:00:00.000000000' where cuenta='308726141'
2533 308729836 LUIS FERNANDO 1
update egresados set actualized='2020-02-26T00:00:00.000000000' where cuenta='308729836'
2534 308741252 GABRIELA 1
update egresados set actualized='2019-08-23T00:00:00.000000000' where cuenta='308741252'
2535 308748299 KAREN ANAHI 1
update egresados set actualized='2017-04-17T00:00:00.000000000' where cuenta='308748299'
2536 308749409 ALAN GERARDO 1
update egresados set actualized='2019-10-29T00:00:00.000000000' where cuenta='308749409'
2537 308753565 MELISSA ITZEL 1
update egresados set actualized='2019-02-05T00:00:00.000000000' where cuenta='308753565'
2538 308754658 PAULINA HERMINIA 1
update egresados set actualized='2019-11-27T00:00:00.000000000' where cuenta='308754658'
2539 308754737 SANDRA 1
update egresados set actualized='2019-04-22T00:00:00.000000000' where cuenta='308754737'
2540 308810538 ARANTXA 1
update egresados set actualized='2016-04-14T00:00:00.000000000' where cuenta='308810538'
2541 309000044 ALMA YOLANDA 1
update egresados set actualized='2020-10-28T00:00:00.000000000' where cuenta='309000044'
2542 309000219 DIANA LUZ 1
update egresados set actualized='2017-03-21T00:00:00.000000000' where cuenta='309000219'
2543 309000288 OCTAVIO 1
update egresados set actualized='2019-06-28T00:00:00.000000000' where cuenta='309000288'
2544 309000408 KAREN 1
update egresados set actualized='2019-02-07T00:00:00.000000000' where cuenta='309000408'
2545 309000604 ANA LAURA 1
update egresados set actualized='2018-11-30T00:00:00.000000000' where cuenta='309000604'
2546 309000642 LESSLY CLARA 1
update egresados set actualized='2020-03-10T00:00:00.000000000' where cuenta='309000642'
2547 309000659 NAYELI 1
update egresados set actualized='2019-06-07T00:00:00.000000000' where cuenta='309000659'
2548 309001278 DIEGO 1
update egresados set actualized='2016-08-18T00:00:00.000000000' where cuenta='309001278'
2549 309001845 VALERIA 1
update egresados set actualized='2019-09-06T00:00:00.000000000' where cuenta='309001845'
2550 309002086 GUILLERMO 1
update egresados set actualized='2019-09-15T00:00:00.000000000' where cuenta='309002086'
2551 309002251 ROCIO GABRIELA 1
update egresados set actualized='2017-04-06T00:00:00.000000000' where cuenta='309002251'
2552 309002495 DIANA MARIELA 1
update egresados set actualized='2019-06-05T00:00:00.000000000' where cuenta='309002495'
2553 309002529 FRANCISCO JAVIER 1
update egresados set actualized='2020-11-18T00:00:00.000000000' where cuenta='309002529'
2554 309002550 STEFHANIA 1
update egresados set actualized='2020-03-06T00:00:00.000000000' where cuenta='309002550'
2555 309003337 TRIANA KAREN 1
update egresados set actualized='2019-04-06T00:00:00.000000000' where cuenta='309003337'
2556 309003368 JORGE EDUARDO 1
update egresados set actualized='2019-03-06T00:00:00.000000000' where cuenta='309003368'
2557 309003935 CAROLINA 1
update egresados set actualized='2019-03-13T00:00:00.000000000' where cuenta='309003935'
2558 309004028 ROSALIA ANAID 1
update egresados set actualized='2019-11-26T00:00:00.000000000' where cuenta='309004028'
2559 309004200 BERENICE LIZET 1
update egresados set actualized='2019-06-19T00:00:00.000000000' where cuenta='309004200'
2560 309004341 MARIANA 1
update egresados set actualized='2020-10-08T00:00:00.000000000' where cuenta='309004341'
2561 309004389 HUGO 1
update egresados set actualized='2018-11-30T00:00:00.000000000' where cuenta='309004389'
2562 309005647 ESTEFANIA GABRIELA 1
update egresados set actualized='2018-11-06T00:00:00.000000000' where cuenta='309005647'
2563 309006259 ERNESTO 1
update egresados set actualized='2020-01-30T00:00:00.000000000' where cuenta='309006259'
2564 309006383 JOSUE 1
update egresados set actualized='2018-11-06T00:00:00.000000000' where cuenta='309006383'
2565 309006417 CARLOS 1
update egresados set actualized='2020-01-16T00:00:00.000000000' where cuenta='309006417'
2566 309006572 WHITNEY 1
update egresados set actualized='2020-09-25T00:00:00.000000000' where cuenta='309006572'
2567 309006644 JOAN MANUEL 1
update egresados set actualized='2019-05-13T00:00:00.000000000' where cuenta='309006644'
2568 309006675 DENISE 1
update egresados set actualized='2019-03-11T00:00:00.000000000' where cuenta='309006675'
2569 309006730 ERIC SAUL 1
update egresados set actualized='2020-01-15T00:00:00.000000000' where cuenta='309006730'
2570 309006785 LUIS FERNANDO 1
update egresados set actualized='2020-01-27T00:00:00.000000000' where cuenta='309006785'
2571 309006943 HELUE 1
update egresados set actualized='2019-03-27T00:00:00.000000000' where cuenta='309006943'
2572 309007452 KARLA PAOLA 1
update egresados set actualized='2019-07-04T00:00:00.000000000' where cuenta='309007452'
2573 309007586 REBECA 1
update egresados set actualized='2019-03-20T00:00:00.000000000' where cuenta='309007586'
2574 309007933 ADRIANA 1
update egresados set actualized='2018-11-06T00:00:00.000000000' where cuenta='309007933'
2575 309008198 ALEJANDRA 1
update egresados set actualized='2020-11-18T00:00:00.000000000' where cuenta='309008198'
2576 309008992 SONIA 1
update egresados set actualized='2018-11-28T00:00:00.000000000' where cuenta='309008992'
2577 309009511 GABRIELA MARICRUZ 1
update egresados set actualized='2019-03-12T00:00:00.000000000' where cuenta='309009511'
2578 309009717 GABRIELA 1
update egresados set actualized='2020-01-10T00:00:00.000000000' where cuenta='309009717'
2579 309009755 ALAN ALFREDO 1
update egresados set actualized='2019-06-30T00:00:00.000000000' where cuenta='309009755'
2580 309010140 NELLY 1
update egresados set actualized='2019-06-29T00:00:00.000000000' where cuenta='309010140'
2581 309010638 BIBIANA 1
update egresados set actualized='2019-07-29T00:00:00.000000000' where cuenta='309010638'
2582 309010827 CECILIA 1
update egresados set actualized='2019-06-10T00:00:00.000000000' where cuenta='309010827'
2583 309010999 ELIZABETH 1
update egresados set actualized='2016-11-16T00:00:00.000000000' where cuenta='309010999'
2584 309011068 WILLIAMS VLADIMIR 1
update egresados set actualized='2020-10-16T00:00:00.000000000' where cuenta='309011068'
2585 309011233 PATRICIA 1
update egresados set actualized='2017-04-07T00:00:00.000000000' where cuenta='309011233'
2586 309011611 MELISA JIMENA 1
update egresados set actualized='2019-06-05T00:00:00.000000000' where cuenta='309011611'
2587 309011680 JOSE JESUS 1
update egresados set actualized='2020-02-21T00:00:00.000000000' where cuenta='309011680'
2588 309011697 JOSE ALEJANDRO 1
update egresados set actualized='2019-04-04T00:00:00.000000000' where cuenta='309011697'
2589 309011903 ITZEL GUADALUPE 1
update egresados set actualized='2019-03-11T00:00:00.000000000' where cuenta='309011903'
2590 309012508 ANDRES NOHEL 1
update egresados set actualized='2020-01-07T00:00:00.000000000' where cuenta='309012508'
2591 309012948 ELI DANIELA 1
update egresados set actualized='2019-03-28T00:00:00.000000000' where cuenta='309012948'
2592 309013158 DIANA AVRIL 1
update egresados set actualized='2016-11-14T00:00:00.000000000' where cuenta='309013158'
2593 309013385 CARLOS ANDRES 1
update egresados set actualized='2019-06-20T00:00:00.000000000' where cuenta='309013385'
2594 309013543 ALEJANDRO ABEL 1
update egresados set actualized='2019-05-21T00:00:00.000000000' where cuenta='309013543'
2595 309013945 ESTEFANIA 1
update egresados set actualized='2019-05-31T00:00:00.000000000' where cuenta='309013945'
2596 309014162 JEARSON JAIR 1
update egresados set actualized='2019-02-18T00:00:00.000000000' where cuenta='309014162'
2597 309014643 FRANCISCO JAVIER 1
update egresados set actualized='2020-03-10T00:00:00.000000000' where cuenta='309014643'
2598 309014739 AZUCENA GUADALUPE 1
update egresados set actualized='2019-03-19T00:00:00.000000000' where cuenta='309014739'
2599 309014870 ALEJANDRO 1
update egresados set actualized='2017-05-25T00:00:00.000000000' where cuenta='309014870'
2600 309015004 RODRIGO 1
update egresados set actualized='2019-10-17T00:00:00.000000000' where cuenta='309015004'
2601 309015688 OSCAR 1
update egresados set actualized='2019-06-06T00:00:00.000000000' where cuenta='309015688'
2602 309015884 PABLO CRISTOBAL 1
update egresados set actualized='2019-04-23T00:00:00.000000000' where cuenta='309015884'
2603 309016685 PAULINA 1
update egresados set actualized='2020-05-06T00:00:00.000000000' where cuenta='309016685'
2604 309017455 MARIO ALBERTO 1
update egresados set actualized='2018-11-05T00:00:00.000000000' where cuenta='309017455'
2605 309017699 FERNANDO 1
update egresados set actualized='2019-06-05T00:00:00.000000000' where cuenta='309017699'
2606 309018081 ANA CRISTINA 1
update egresados set actualized='2020-11-12T00:00:00.000000000' where cuenta='309018081'
2607 309018191 JORGE DE JESUS 1
update egresados set actualized='2018-11-07T00:00:00.000000000' where cuenta='309018191'
2608 309018555 IRVING EMANUEL 1
update egresados set actualized='2020-01-22T00:00:00.000000000' where cuenta='309018555'
2609 309018768 MARIEL GUADALUPE 1
update egresados set actualized='2018-11-06T00:00:00.000000000' where cuenta='309018768'
2610 309019040 HANNAT MARISOL 1
update egresados set actualized='2020-10-21T00:00:00.000000000' where cuenta='309019040'
2611 309019497 BRENDA HAZEL 1
update egresados set actualized='2020-06-04T00:00:00.000000000' where cuenta='309019497'
2612 309019538 CARLOS MANUEL 1
update egresados set actualized='2018-11-03T00:00:00.000000000' where cuenta='309019538'
2613 309020071 NORMA ANGELICA 1
update egresados set actualized='2019-09-03T00:00:00.000000000' where cuenta='309020071'
2614 309020088 TANIA 1
update egresados set actualized='2020-09-03T00:00:00.000000000' where cuenta='309020088'
2615 309020143 MARIA ELENA 1
update egresados set actualized='2017-04-27T00:00:00.000000000' where cuenta='309020143'
2616 309020394 AXEL 1
update egresados set actualized='2019-05-01T00:00:00.000000000' where cuenta='309020394'
2617 309021748 BRIANDA ADALUZ 1
update egresados set actualized='2019-10-05T00:00:00.000000000' where cuenta='309021748'
2618 309021755 EUGENIO 1
update egresados set actualized='2020-10-22T00:00:00.000000000' where cuenta='309021755'
2619 309022264 MARIA GUADALUPE 1
update egresados set actualized='2019-04-23T00:00:00.000000000' where cuenta='309022264'
2620 309022501 ADRIANA IDALIT 1
update egresados set actualized='2019-11-08T00:00:00.000000000' where cuenta='309022501'
2621 309022817 MARIANA 1
update egresados set actualized='2016-08-23T00:00:00.000000000' where cuenta='309022817'
2622 309022824 JOSE MANUEL 1
update egresados set actualized='2019-08-22T00:00:00.000000000' where cuenta='309022824'
2623 309023096 SILVIA SCHEREZADA 1
update egresados set actualized='2019-10-23T00:00:00.000000000' where cuenta='309023096'
2624 309023261 RUBI CARMEN 1
update egresados set actualized='2019-06-24T00:00:00.000000000' where cuenta='309023261'
2625 309023278 SAUL ALEJANDRO 1
update egresados set actualized='2019-07-30T00:00:00.000000000' where cuenta='309023278'
2626 309024000 JUAN MANUEL 1
update egresados set actualized='2020-10-12T00:00:00.000000000' where cuenta='309024000'
2627 309024684 VICTORIA EUGENIA 1
update egresados set actualized='2019-06-24T00:00:00.000000000' where cuenta='309024684'
2628 309024921 ALAN 1
update egresados set actualized='2020-01-16T00:00:00.000000000' where cuenta='309024921'
2629 309024976 FABIOLA 1
update egresados set actualized='2020-02-27T00:00:00.000000000' where cuenta='309024976'
2630 309025117 LARISSA 1
update egresados set actualized='2020-05-21T00:00:00.000000000' where cuenta='309025117'
2631 309025162 OSCAR 1
update egresados set actualized='2019-08-14T00:00:00.000000000' where cuenta='309025162'
2632 309025313 FRANCISCO IVAN 1
update egresados set actualized='2019-06-06T00:00:00.000000000' where cuenta='309025313'
2633 309025399 BRENDA 1
update egresados set actualized='2019-04-01T00:00:00.000000000' where cuenta='309025399'
2634 309025492 ROXANA 1
update egresados set actualized='2019-02-19T00:00:00.000000000' where cuenta='309025492'
2635 309025760 ALFONSO AMADOR 1
update egresados set actualized='2018-11-06T00:00:00.000000000' where cuenta='309025760'
2636 309026035 ANA LILIA 1
update egresados set actualized='2020-10-02T00:00:00.000000000' where cuenta='309026035'
2637 309026255 ABIGAIL 1
update egresados set actualized='2020-09-29T00:00:00.000000000' where cuenta='309026255'
2638 309026846 RICARDO 1
update egresados set actualized='2020-01-28T00:00:00.000000000' where cuenta='309026846'
2639 309027434 DULCE KATHERINE 1
update egresados set actualized='2020-12-01T00:00:00.000000000' where cuenta='309027434'
2640 309027685 BLANCA 1
update egresados set actualized='2020-10-12T00:00:00.000000000' where cuenta='309027685'
2641 309028039 EUNICE 1
update egresados set actualized='2020-01-24T00:00:00.000000000' where cuenta='309028039'
2642 309028486 SULEIDY 1
update egresados set actualized='2020-10-22T00:00:00.000000000' where cuenta='309028486'
2643 309028534 DIANA NINOSHKA 1
update egresados set actualized='2019-05-28T00:00:00.000000000' where cuenta='309028534'
2644 309028709 LUIS IVAN 1
update egresados set actualized='2019-08-14T00:00:00.000000000' where cuenta='309028709'
2645 309028723 AJAX SEBASTIAN 1
update egresados set actualized='2019-03-04T00:00:00.000000000' where cuenta='309028723'
2646 309028785 CLAUDIA GABRIELA 1
update egresados set actualized='2019-07-29T00:00:00.000000000' where cuenta='309028785'
2647 309029122 ILSE GUADALUPE 1
update egresados set actualized='2019-06-11T00:00:00.000000000' where cuenta='309029122'
2648 309029263 BENJAMIN 1
update egresados set actualized='2019-04-02T00:00:00.000000000' where cuenta='309029263'
2649 309029500 ITZEL 1
update egresados set actualized='2019-03-20T00:00:00.000000000' where cuenta='309029500'
2650 309029672 SANDRA 1
update egresados set actualized='2019-02-07T00:00:00.000000000' where cuenta='309029672'
2651 309030098 ROMEL ALEJANDRO 1
update egresados set actualized='2018-11-06T00:00:00.000000000' where cuenta='309030098'
2652 309030335 ANDRES MARVIN 1
update egresados set actualized='2019-03-21T00:00:00.000000000' where cuenta='309030335'
2653 309030995 LUIS ALBERTO 1
update egresados set actualized='2019-03-11T00:00:00.000000000' where cuenta='309030995'
2654 309031040 VICTOR DANIEL 1
update egresados set actualized='2019-09-27T00:00:00.000000000' where cuenta='309031040'
2655 309031246 JOSE RODRIGO 1
update egresados set actualized='2020-10-13T00:00:00.000000000' where cuenta='309031246'
2656 309031686 ALAN JESUS 1
update egresados set actualized='2019-08-08T00:00:00.000000000' where cuenta='309031686'
2657 309031820 LIZBETH SARAHI 1
update egresados set actualized='2020-10-13T00:00:00.000000000' where cuenta='309031820'
2658 309032188 AGUSTIN 1
update egresados set actualized='2019-06-14T00:00:00.000000000' where cuenta='309032188'
2659 309032229 GUILLERMO 1
update egresados set actualized='2019-06-20T00:00:00.000000000' where cuenta='309032229'
2660 309032607 CARLOS EDGAR 1
update egresados set actualized='2020-02-14T00:00:00.000000000' where cuenta='309032607'
2661 309033257 LEONARDO ALEJANDRO 1
update egresados set actualized='2019-06-20T00:00:00.000000000' where cuenta='309033257'
2662 309033312 MARIA FERNANDA 1
update egresados set actualized='2019-11-07T00:00:00.000000000' where cuenta='309033312'
2663 309033745 ELIZABET DEL ROCIO 1
update egresados set actualized='2019-02-10T00:00:00.000000000' where cuenta='309033745'
2664 309034151 JUAN FRANCISCO 1
update egresados set actualized='2019-04-26T00:00:00.000000000' where cuenta='309034151'
2665 309034357 CLAUDIA BELEN 1
update egresados set actualized='2019-06-12T00:00:00.000000000' where cuenta='309034357'
2666 309034412 DIEGO ISRAEL 1
update egresados set actualized='2019-06-25T00:00:00.000000000' where cuenta='309034412'
2667 309034618 YESICA JAZMIN 1
update egresados set actualized='2019-07-02T00:00:00.000000000' where cuenta='309034618'
2668 309034632 ALEJANDRA 1
update egresados set actualized='2019-06-17T00:00:00.000000000' where cuenta='309034632'
2669 309034687 CRISTIAN ADRIAN 1
update egresados set actualized='2020-11-10T00:00:00.000000000' where cuenta='309034687'
2670 309034807 AIDEE 1
update egresados set actualized='2019-11-04T00:00:00.000000000' where cuenta='309034807'

In [90]:
data['fec_capt']

0      2019-08-19
1      2018-12-01
2      2020-12-10
3      2019-04-04
4      2020-06-10
          ...
5802   2019-08-28
5803   2019-08-26
5804   2019-03-11
5805   2019-03-12
5806   2019-08-30
Name: fec_capt, Length: 5807, dtype: datetime64[ns]

In [ ]:
cnx.commit()

In [91]:
eg16['actualized']

0       None
1       None
2       None
3       None
4       None
        ...
5216    None
5217    None
5218    None
5219    None
5220    None
Name: actualized, Length: 5221, dtype: object

In [53]:
data.telcasa=data.telcasa.astype(str)

In [54]:
data['telcel'].values[i]

'5540780218'

In [35]:
("insert into telefonos(cuanta, telefono,status,descripcion) values('%s','%s','%s','%s')"%tuple([cuenta,tel,0,'casa']))

"insert into telefonos(cuanta, telefono,status,descripcion) values('305588212','5525114200','0','casa')"

In [29]:
if(data['telcasa'].values[12][:3]=='044'):
   tel=data['telcasa'].values[12][3:]
print(tel)

5525114200

In [11]:
len(data)

5807

In [85]:
cnx.close()

In [36]:
tels_exits=pd.read_sql("select * from telefonos where cuenta = '123123333'",cnx )

In [39]:
'5567123456' not in tels_exits['telefono'].values

False

In [4]:
#Importar la columan de si estan titulados o no
import pandas as pd
data=pd.read_spss(r'V:\Archivos Seguimiento de Egresados\Bases de datos finales todos los años\EX2016_columnas solo 2016 final 17-10-23.sav')

In [6]:
data['nfr27']

0                Sí
1       En trámites
2                No
3       En trámites
4                Sí
           ...
5215             No
5216             No
5217             No
5218             No
5219             No
Name: nfr27, Length: 5220, dtype: category
Categories (3, object): ['En trámites', 'No', 'Sí']

In [ ]:
#revisar poder encontrar todos los numeros de cuenta
for i in  range(len(data)):
    n=len(pd.read_sql("select * from egresados where cuenta ='"+str(int(data['cuenta'].values[i]))+"' and act_suvery=1",cnx))
    if(n!=1):
        print('atipic',n,str(int(data['cuenta'].values[i])))

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

KeyboardInterrupt:

In [ ]:
import sys
import xlsxwriter
import pandas as pd
import sys
import psycopg2
import os
from dotenv import load_dotenv
from datetime import date

today = date.today()
load_dotenv()

#configurar la conexion a la base de datos
DB_USERNAME = os.getenv('DB_USERNAME')
DB_DATABASE = os.getenv('DB_DATABASE')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')
DB_HOST=os.getenv('DB_HOST')
cnx = psycopg2.connect(
        user=DB_USERNAME,
        password=DB_PASSWORD,
        host=DB_HOST,
        port=DB_PORT,
        database=DB_DATABASE
    )
cursor=cnx.cursor()

In [21]:
#Hacer el update
for i in  range(len(data)):

# for i in  range(100):
    tit_val='0'
    if(data['nfr27'].values[i]=='En trámites'):
        tit_val='1'
    if(data['nfr27'].values[i]=='Sí'):
        tit_val='2'
    query="""UPDATE egresados set titulado= '"""+tit_val+"""' 
            where cuenta ='"""+str(int(data['cuenta'].values[i]))+"""' and act_suvery=1"""
    # print(query)
    # print(data['nfr27'].values[i])
    cursor.execute(query)

In [22]:
cnx.commit()